@import '../../variables.scss';
@import '../../variables-bootstrap.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_grid';

header {
    width: 100%;
    border-right: solid 2px $color-secondary-1-3;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;

    .mugshot > div {
        display: inline-block;
    }

    nav {
        padding-top: $grid-gutter-width;
    }

    h1, h2, h3, h4 {
        text-align: left;
        padding-top: $grid-gutter-width / 2;
    }

    h3 {
        color: $color-secondary-1-2;
    }

    h4 {
        font-weight: bold;
    }

    .contact {
        display: block;
        padding-top: 0.5em;

        svg {
            margin-right: 0.5em;
        }
    }
}

.helloworld-print header {

    h3 {
        color: inherit;
    }

    .contact {
        display: flex;
        font-size: 60%;
        font-weight: 400;
        text-align: left;
        white-space: nowrap;

        svg {
            margin-top: 3px;
        }
    }

    .contact-details {
        padding-top: $grid-gutter-width;
    }
}
