@import '../../variables.scss';

header {
    width: 100%;

    h3 {
        color: $color-secondary-1-2;
    }

    .contact {
        display: block;
        padding-top: 0.5em;

        svg {
            margin-right: 0.5em;
        }
    }
}
