// import fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:regular,semi-bold');
@import url('https://fonts.googleapis.com/css?family=Trocchi:regular');

@import './variables.scss';

// set overrides before importing bootstrap
@import './variables-bootstrap.scss';

// import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
    margin: 0;
    font-family: Quicksand, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-secondary-1-3;

    &.helloworld-print {
        .helloworld-container {
            background-color: $white;
            color: $black;
        }
    }
}

.helloworld-container {
    text-align: center;
    background-color: $color-secondary-1-4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $primary;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2 {
    font-family: Trocchi, serif;
}

a {
    color: $color-secondary-2-2;
}

#print-me {
    position: absolute;
    top: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
}
